@font-face{
	src: url("res/font/ProductSansRegular.ttf");
}

.root {
	-fx-font-family: "Product Sans";
}

.check-box > .box {
	-fx-padding: 0.166667em 0.166667em 0.25em 0.25em;
	}
	
.check-box > .box > .mark {
    /* ... */
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
}

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.text-field {
	-fx-border-width:2px;
	-fx-background-color: transparent;
	-fx-border-color:white;
	-fx-border-radius:5px;
	-fx-text-fill:white;
	-fx-background-radius:8px;
	-fx-opacity:0.43;
}
#VBox{
	-fx-opacity:0.97;
}

#bebidasFavoritasUser {
	-fx-border-width:2px;
	-fx-background-color: transparent;
	-fx-border-color:white;
	-fx-border-radius:5px;
	-fx-text-fill:white;
	-fx-background-radius:8px;
	-fx-opacity:0.43;
	
}

#observationBox{
	-fx-background-color:#353535;
	-fx-control-inner-background:#353535;
	 -fx-highlight-fill: #353535; 
}

#LoginButton{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-opacity:85%;
	-fx-text-fill:white;
}

#returnButton {
	-fx-background-image:url("res/imgs/returnButton.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#RegisterButton{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-opacity:85%;
}

#topHbox{
	-fx-background-color: #282828;
}

#bebidasButton, #bebidasButtonUser{
	-fx-background-image:url("res/imgs/menuBebidasIcon.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#userButton{
	-fx-background-image:url("res/imgs/deufaultUserIcon.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#logoButton{
	-fx-background-image:url("res/imgs/logoPubFinder.png");
	-fx-background-color:transparent;
}

#searchField{
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-background-color: #353535;
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.2), 10, 0, 0, 0);
	-fx-prompt-text-fill: rgba(255,255,255,0.2);
	-fx-text-fill:rgba(255,255,255,0.2);
	-fx-opacity:86%;
	-fx-padding: 4.83px 4.83px 4.83px 45px; 
	-fx-border-color:transparent;
	-fx-font-size: 18;
}

#searchField:selected{
	-fx-background-color: #000000;
}

#lupaImage{
	-fx-opacity: 0.2;
}

#addInformation{
	-fx-background-color:#ffe400;
	-fx-border-radius:20px;
	-fx-background-radius: 20px;
	-fx-opacity:75%;
	-fx-text-fill: #282828;
	-fx-effect: dropshadow(three-pass-box,black, 10, 0.5, 0, 0);
	-fx-padding: 7.5px 7.5px 7.5px 30px; 
}

#frontBarPanel, #leftBarPanel, #rightBarPanel{
	-fx-background-color:#353535;
	-fx-border-radius:5px;
	-fx-background-radius:5px;
	-fx-effect: dropshadow(three-pass-box,rgba(255,255,255,0.2), 5, 0, 0, 0);
}
#pageName{
	-fx-text-fill:#ffe400;
	-fx-font-size: 27;
	-fx-stroke: #000000;
	-fx-stroke-width: 3px;
}