@font-face{
	src: url("res/font/ProductSansRegular.ttf");
}

.root {
	-fx-font-family: "Product Sans";
}

.button {
	-fx-background-color: #353535;
}

.label{
-fx-background-color: transparent;
-fx-text-fill:white;
}

.choice-box{
	-fx-border-color: White;
	-fx-border-style:solid;
	-fx-opacity:43%;
	-fx-background-color:#353535;
}

.choice-box .label{
	-fx-text-fill:#ffe400;
}

.choice-box .context-menu{
	-fx-background-color:#353535;
}

.check-box .box {
-fx-background-color: transparent;
-fx-border-color:black;
-fx-border-radius:3px; 
-fx-border-width:3px; 
-fx-text-fill:black;
}

.text-field {
	-fx-border-color: White;
	-fx-border-style:solid;
	-fx-text-fill:WHITE;
	-fx-prompt-text-fill:WHITE;
	-fx-opacity:43%;
}

.text-field:disabled {
	-fx-border-color: White;
	-fx-border-style:solid;
	-fx-text-fill:WHITE;
	-fx-opacity:43%;
}

#scrollPane {
    -fx-background-color: #353535;
}
.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #ffe400;
    -fx-background-radius: 5em;
}

#LabelRegisterScreen{
	-fx-text-fill:#ffe400;
}

#birthday{
	-fx-border-width:2px;
	-fx-background-color: transparent;
	-fx-border-color:white;
	-fx-border-radius:5px;
	-fx-text-fill:white;
	-fx-background-radius:8px;
	-jfx-default-color:#ffe400;
}

#rememberChoice, #autoLogin {
	-fx-text-fill:black;
}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: transparent;
}


.text-field, .text-area{
	-fx-border-width:2px;
	-fx-background-color: transparent;
	-fx-border-color:white;
	-fx-border-radius:5px;
	-fx-text-fill:white;
	-fx-background-radius:8px;
	-fx-opacity:0.4;
}

#editableButton{
	-fx-background-image:url('res/imgs/plus-icon-transparent-19.png');
	-fx-background-color:transparent;
}

#pubType, #drinkType, #pubOptions, #pubNameField {
	-fx-border-width:2px;
	-fx-border-radius:5;
	-fx-background-radius:8;
	-fx-background-color:#353535;
	-fx-text-fill:white;
	-fx-prompt-text-fill:white;
	-fx-border-color:white;
}


.combo-box .cell{
	-fx-text-fill:white;
	-fx-background-color:#353535;
}
#addFilesButton, #addBarButton{
	-fx-border-width:2px;
	-fx-border-radius:5;
	-fx-background-radius:8;
	-fx-background-color:#353535;
	-fx-text-fill:white;
	-fx-prompt-text-fill:white;
	-fx-border-color:white;
}

#comprovativo{
	-fx-border-width:2px;
	-fx-border-radius:5;
	-fx-background-radius:8;
	-fx-background-color:#353535;
	-fx-text-fill:white;
	-fx-prompt-text-fill:white;
	-fx-border-color:white;
}

#priceField,#observationBox{
	-fx-prompt-text-fill:white;
	-fx-text-fill:white;
	-fx-border-radius:2px;
	-fx-background-radius:2px ;
	-fx-border-width:2px;
	-fx-border-color:white;
}

#bebidasFavoritasUser, #bebidasFavoritas {
	-fx-border-width:2px;
	-fx-background-color: transparent;
	-fx-border-color:white;
	-fx-border-radius:5px;
	-fx-text-fill:white;
	-fx-background-radius:8px;
	-fx-opacity:0.43;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

#LoginButton{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-opacity:85%;
}

#returnButton {
	-fx-background-image:url("res/imgs/returnButton.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#RegisterButton{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-opacity:85%;
}

#topHbox{
	-fx-background-color: #282828;
}

#bebidasButton, #bebidasButtonUser{
	-fx-background-image:url("res/imgs/menuBebidasIcon.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#userButton{
	-fx-background-image:url("res/imgs/deufaultUserIcon.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#logoButton{
	-fx-background-image:url("res/imgs/logoPubFinder.png");
	-fx-background-color:transparent;
}

#searchField{
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-background-color: #353535;
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.2), 10, 0, 0, 0);
	-fx-prompt-text-fill: rgba(255,255,255,0.2);
	-fx-text-fill:rgba(255,255,255,0.2);
	-fx-opacity:86%;
	-fx-padding: 4.83px 4.83px 4.83px 4.83px; 
	-fx-border-color:transparent;
	-fx-font-size: 18;
}

#searchField:selected{
	-fx-background-color: #000000;
}

#lupaImage{
	-fx-opacity: 0.2;
}
.button{
	-fx-background-color:#ffe400;
	-fx-border-radius:20px;
	-fx-background-radius: 20px;
	-fx-opacity:75%;
	-fx-text-fill: #282828;
	-fx-effect: dropshadow(three-pass-box,black, 10, 0.5, 0, 0);
}

#addInformation, #checkNewRequests{
	-fx-padding: 7.5px 7.5px 7.5px 30px; 
}

#frontBarPanel, #leftBarPanel, #rightBarPanel{
	-fx-background-color:#353535;
	-fx-border-radius:5px;
	-fx-background-radius:5px;
	-fx-effect: dropshadow(three-pass-box,rgba(255,255,255,0.2), 5, 0, 0, 0);
}
#pageName{
	-fx-text-fill:#ffe400;
	-fx-font-size: 27;
	-fx-stroke: #000000;
	-fx-stroke-width: 3px;
}