@font-face{
	src: url("res/font/ProductSansRegular.ttf");
}

.borderPane {
	-fx-font-family: "Product Sans";
	-fx-background-image:url("res/imgs/lisbonMap.png"); 
}


.textField{
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}
#VBox{
	-fx-opacity:0.97;
}

#LoginButton{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-opacity:85%;
	-fx-text-fill:white;
}

#voltarButton{
	-fx-background-image:url("res/imgs/botao_voltar.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}
#RegisterButton{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-opacity:85%;
}

#topHbox{
	-fx-background-color: #282828;
}

#bebidasButton, #bebidasButtonUser{
	-fx-background-image:url("res/imgs/menuBebidasIcon.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#userButton{
	-fx-background-image:url("res/imgs/deufaultUserIcon.png");
	-fx-background-color:transparent;
	-fx-min-width:30px;
}

#logoButton{
	-fx-background-image:url("res/imgs/logoPubFinder.png");
	-fx-background-color:transparent;
}

#searchField{
	-fx-background-color: #353535;
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.2), 10, 0, 0, 0);
	-fx-prompt-text-fill: rgba(255,255,255,0.2);
	-fx-text-fill:rgba(255,255,255,0.2);
	-fx-opacity:86%;
	-fx-padding: 4.83px 4.83px 4.83px 45px; 
	-fx-border-color:transparent;
	-fx-font-size: 18;
}

#searchField:selected{
	-fx-background-color: #000000;
}

#lupaImage{
	-fx-opacity: 0.2;
}

#addInformation{
	-fx-background-color:#ffe400;
	-fx-border-radius:20px;
	-fx-background-radius: 20px;
	-fx-opacity:75%;
	-fx-text-fill: #282828;
	-fx-effect: dropshadow(three-pass-box,black, 10, 0.5, 0, 0);
	-fx-padding: 7.5px 7.5px 7.5px 30px; 
}

#frontBarPanel, #leftBarPanel, #rightBarPanel{
	-fx-background-color:#353535;
	-fx-border-radius:5px;
	-fx-background-radius:5px;
	-fx-effect: dropshadow(three-pass-box,rgba(255,255,255,0.2), 5, 0, 0, 0);
}
#pageName{
	-fx-text-fill:#ffe400;
	-fx-font-size: 27;
	-fx-stroke: #000000;
	-fx-stroke-width: 3px;
}